@using System.Activities
@model DatingSite_Projekt.Models.AccountUserModel
@using DatingSite_Projekt.Models




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@{

    var profileImagePath = "/Images/Profile/" + @Model.Username + ".jpg";
}
@{
    var messages = ViewData["Message"] as IEnumerable<MessageModel>;
    var senderId = ViewData["senderId"] as int?;
    var receiverId = ViewData["receiverId"] as int?;
}

<script type="text/javascript">
   
    $(document).on('click', '#btnAdd', function () {

        var sendStatus = 1;
        var senderId = '@senderId';
        var receiverId = '@receiverId';
        var message = document.getElementById('userComment').value;
        if (message.length <= 0) {
            alert("You have to enter a message");
            sendStatus = 0;
        }
        if(sendStatus === 1) {
            $.post('/api/message/PostMessageDetails', { message: message, senderId: senderId, receiverId: receiverId }, function () {
                alert("Your message has been posted!");
                window.location.reload();
            });
        }

    })
</script>

<script type="text/javascript">

    $(document).on('click', '#addFriend', function () {
        var senderId = '@senderId';
        var receiverId = '@receiverId';
        $.post('/api/friend/postfriendrequest', { senderId: senderId, userId: receiverId }, function() {
            alert("Vänförfrågan skickad");
            window.location.reload();
        });
   
        })</script>

<br />
<br />
<div id="DisplayPicture"></div>

<div class="well" id="profile">
    <div class="col-sm-2 col-md-4">
        <img src="@profileImagePath"
             alt="" class="img-rounded img-responsive" />
        <h3>About me:</h3>
        <button id ="addFriend"> Add Friend </button>
        <p>
            @Model.AboutMe
        </p>
    </div>
    <div class="col-sm-1 col-md-8">

        <blockquote>
            <p>@Model.Username</p> <small><cite title="Source Title"><p>@Model.Description</p></cite></small>
        </blockquote>
        <br />
        <p>
            <i class="glyphicon glyphicon-envelope"></i> @Model.Email
            <br /> <i class="glyphicon glyphicon-globe"></i> @Model.City, @Model.Country.
            <br /> <i class="glyphicon glyphicon-gift"></i> @Model.Age.
        </p>
        <br />
        <br />


        <div class="input-group">
            <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
            <span class="input-group-btn" onclick="addComment()">
                <button id="btnAdd" class="btn btn-primary btn-sm">Add</button>
            </span>
        </div>
        <hr data-brackets-id="12673">
        <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
            @if (messages.Count() >= 0)
            {
                foreach (var m in messages)
                {
                    <li> @Html.ActionLink(@m.SenderName, "Details", "Account", new { id = @m.SenderId }, null) </li>
                    <p>@m.Message</p>
                }
            }
        </ul>
    </div>
</div>